@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,800;0,900;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: node;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4bd5ff;
  --color-primary-variant: rgba(255, 255, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

/* h1, h2, h3, h4, h5, h6 {
  display: inline-block;
} */

body {
  background: var(--color-bg);
  line-height: 1.7;
  min-height: 100vh;
  animation: move 1s linear infinite forwards;
  color: var(--color-white);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;

}

.container {
  width: 100%;
  max-width: 1300px;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;

}

h1 {
  font-size: 5rem;
}

a:link, a:visited, a:active {
  text-decoration: none;
}


.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
  filter: drop-shadow(0 0 20px var(--color-primary));
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
  font-weight: 800;
}

section {
  height: max-content;
  width: 100%;
  /* background-image: url(../../assets/bg-texture.png); */
}